* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#stopwatch {
    height: 170px;
    width: 300px;
    background: aquamarine;
    margin: 20px auto;
    padding: 20px;
  }

#stopwatch span {
    background: #c7e0f8 !important;
    color: #0776de;
    padding: 10px;
    width: 55px;
    margin: 3px;
    display: inline-block;
    border-radius: 6px;
    box-shadow: 7px 6px 5px -6px black;
}

#stopwatch button {
    height: 30px;
    width: 64px;
    margin: 5px;
    cursor: pointer;
    background: #2E80B3;
    border: none;
    color: white;
    border-radius: 30px;
}

#stopwatch button:hover{
    box-shadow: 3px 3px 5px 1px black;
}